@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

.layout-aside,
.breadcrumbs,
.main-h,
.heading.heading--xl {
    display: none;
}

.header {
    margin-bottom: 0;
}  

.layout {
    margin-bottom: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

:root {
    --accent: #44B8BA;
    --text-color: #000000;
    --white: #ffffff;
}

.wrapper-hrk {
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

.container-hrk {
    min-height: 100%;
    max-width: 1230px; 
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 20px !important;
    color: var(--text-color);
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

.container-hrk h1,
.container-hrk h2,
.container-hrk h3,
.container-hrk p {
    margin: 0;
}

.container-hrk button {
    background: transparent;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container-hrk ul,
.container-hrk ol {
    list-style: none;
    padding: 0 !important;
    padding-inline-start: 0px !important;
}

.hrk-title {
    font-size: 36px !important;
    line-height: 44px;
    font-weight: 700;
    color: var(--text-color);
}

.hrk-subtitle {
    font-size: 28px !important;
    line-height: 34px;
    font-weight: 700;
}

.hrk__button,
button.hrk__button {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
    padding: 24px 64px !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-align: center;
    transition: all 0.2s ease !important;
    color: var(--white) !important;
    background: var(--accent);
    border: 1px solid var(--accent);
    cursor: pointer;
}

.hrk__button:hover,
button.hrk__button:hover {
    color: var(--accent) !important;
    background: transparent;
}

.hrk-blue-text {
    color: var(--accent);
}

.margin_32 {
    margin-bottom: 32px !important;
}

.margin_24 {
    margin-bottom: 24px !important;
}

.guarantee-page .banner-hrk {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}

.banner-hrk .banner-hrk__img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.banner-hrk .banner-hrk__img.mobile {
    display: none;
}

@media (max-width: 768px) {
    .banner-hrk .banner-hrk__img.desktop {
        display: none;
    }
    .banner-hrk .banner-hrk__img.mobile {
        display: block;
    }
}

.text-block-hrk {
    padding-top: 96px;
    padding-bottom: 96px;
}

.hrk-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-block-hrk {
    background: rgba(0, 0, 0, 0.03);
    margin-bottom: 96px;
}

.form-block-hrk__wrapper {
    padding-top: 96px;
    padding-bottom: 96px;
}

.guarantee-form .hrk-subtitle {
    margin-bottom: 48px;
}

.guarantee-form .hrk-form  {
    gap: 48px;
}

.hrk-form__inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 16px;
}

.form-block-hrk .hrk-form .hrk-form__inputs>input,
.form-block-hrk .hrk-form select,
.form-block-hrk .hrk-form textarea {
    width: 100%;
    max-width: 350px;
    height: 49px;
    padding: 16px 40px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.hrk-form__inputs input[type="number"]::-webkit-outer-spin-button,
.hrk-form__inputs input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hrk-form__inputs .input_full {
    grid-column: 1 / -1;
    max-width: none;
    min-width: 540px;
}

.form-block-hrk .hrk-form select {
    padding-right: 60px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff url('data:image/svg+xml,<svg width="17" height="7" viewBox="0 0 17 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.50016 6L16 1" stroke="black" stroke-linecap="round"/></svg>') no-repeat;
    background-position: calc(100% - 40px) center;
}


.hrk-form__checkbox-list {
    column-gap: 48px;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

.hrk-form__checkbox-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hrk-form__checkbox-list-item:not(:last-child) {
    margin-bottom: 16px !important;
}

.hrk-form__checkbox {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    white-space: nowrap;
    font-size: 14px !important;
    line-height: 100%;
}

.checkbox-hrk {
    opacity: 0;
    position: absolute;   
}

.checkbox-hrk, .checkbox-hrk-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-hrk + .checkbox-hrk-label:before {
    content: '';
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 16px;
    text-align: center;
    box-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004D;

}

.checkbox-hrk:checked + .checkbox-hrk-label:before {
    content: "";
    background: #44B8BA url('data:image/svg+xml,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.5L4.5 10L9.69615 1" stroke="white" stroke-linecap="round"/></svg>') no-repeat;
    background-position: center;
    background-size: cover contain;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Upload Box */
.upload-box {
    position: relative;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: #00000080;
}

.upload-content {
    max-width: 495px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='1' stroke-dasharray='25' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
}

#fileInput {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-subtitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px !important;
}

.guarantee-form .error {
  display: none;
  color: red;
}

.guarantee-form .error.state-visible {
  display: block;
}

.guarantee-rules__wrapper {
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 48px;
}

.guarantee-rules__item {
    padding: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.03);
    display: grid;
    grid-row: span 4 / span 4;
    grid-template-rows: subgrid;
    row-gap: 24px;
}

.guarantee-rules__item.item-accent {
    background: var(--accent);
    color: var(--white) !important;
}

.guarantee-rules__list p {
    position: relative;
    padding-left: 15px;
    font-weight: 500;
}

.guarantee-rules__list p::before {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 8px !important;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000000
}

.guarantee-rules__text p:not(:last-child) {
    margin-bottom: 16px;
}

.guarantee-rules__text .hrk-blue-text {
    font-weight: 700;
}

.guarantee-download {
    margin-bottom: 96px;
}

.guarantee-download__title {
    font-weight: 700;
    font-size: 20px !important;
    line-height: 100%;
}

.guarantee-download__list {
    display: flex;
    gap: 96px;
}

.guarantee-download__item {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.guarantee-download__text {
    color: #00000080;
    font-size: 14px !important;
    line-height: 100%;
}

.guarantee-download__btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.guarantee-download__btn:hover svg path {
    stroke: var(--accent);
}


@media (max-width: 1100px) {
    .hrk-form__checkbox-list {
        column-gap: 60px;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 950px) {
    .hrk-form__checkbox-list {
        column-gap: 30px;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .hrk-form__checkbox-list {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.form-block-hrk .hrk-form .hrk__button {
    width: max-content;
}


@media (max-width: 768px) {
    .hrk-title {
         font-size: 28px !important;
        line-height: 34px;
    }

    .hrk-subtitle {
        font-size: 24px !important;
        line-height: 29px;
    }

    .hrk__button {
        font-size: 14px !important;
    }

    .hrk-list li::before {
        width: 13px;
        height: 12px;
    }

    .text-block-hrk {
        padding-top: 48px;
        padding-bottom: 88px;
    }

    .hrk-text {
        gap: 16px;
    }

    .why-hrk {
        margin-bottom: 88px;
    }

    .form-block-hrk {
        margin-bottom: 88px;
    }

    .form-block-hrk__wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .form-block-hrk .hrk-form  {
        gap: 32px;
        width: 100%;
    }

    .hrk-form__inputs {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .form-block-hrk .hrk-form .hrk-form__inputs>input,
    .form-block-hrk .hrk-form select,
    .form-block-hrk .hrk-form textarea {
        max-width: 100%;
    }

    .form-block-hrk .hrk-form .hrk__button {
        align-self: center;
    }

    .guarantee-rules__wrapper {
        padding-bottom: 88px;
        gap: 24px;
    }

    .upload-content {
        margin:  0 auto;
    }

    .guarantee-download__title {
        font-size: 24px !important;
    }

    .guarantee-download__list {
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .guarantee-download__item {
        gap: 24px;
    }
}


/*popup start */

.hrk-popup-thanks {
    display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 150;
	background-color: rgba(0, 0, 0, .6);
	transition: opacity 200ms ease-in;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.hrk-popup-thanks.active{
	display: block;
}

.hrk-popup-dialog {
	position: relative;
	width: 640px;
	min-height: 100vh;
	padding: 15px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hrk-popup-content {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	padding: 96px 40px;
	outline: 0;
	border-radius: 20px;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
}
 
.hrk-popup-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    text-align: center;
	position: relative;
	flex: 1 1 auto;
}

.hrk-popup-thanks .hrk-popup-body {
    text-align: center;
}

.hrk-popup-thanks .hrk-popup-body p {
    margin: 24px auto 48px !important;
}


.hrk-popup__title {
    width: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
}

.hrk-popup-thanks .hrk-subtitle {
    margin: 16px 0 0 !important;
    text-transform: none;
}

.hrk-popup__form-block {
    display: flex;
	justify-content: stretch;
	align-items: flex-start;
	flex-direction: column;
    gap: 30px;
    padding: 10px 35px;
}

.hrk-form {
    width: 100%; 
    display: flex;
	justify-content: stretch;
	align-items: stretch;
	flex-direction: column;
    gap: 20px;
}

.hrk-popup p {
    margin: 0;
}

.hrk-form-error,
.hrk-form-success {
    display: none;
}

@media (max-width: 768px) {

    .hrk-popup.active {
        overflow-y: auto;
    }

	.hrk-popup-dialog {
		width: calc(100% - 30px);
		min-height: 100%;
		height: auto;
		padding: 0;
	}

	.language-popup-dialog {
		width: calc(100% - 30px);
		min-height: 100%;
		height: auto;   
	}

    .hrk-popup-thanks .hrk-popup__close-thanks,
    .hrk-popup__close {
        margin-right: -25px;
    }

	.hrk-popup-content {
		padding: 10px 35px 40px;
	}

    .hrk-popup h2,
    .hrk-popup-thanks h2 {
        font-size: 22px;
    }

    .hrk-popup__form-block {
        padding: 10px 0;
    }

    .hrk-popup-thanks .hrk-popup-body p {
        margin: 10px auto !important;
    }

}
/*popup end*/
