@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

.layout-aside,
.breadcrumbs,
.main-h,
.heading.heading--xl {
    display: none;
}

.header {
    margin-bottom: 0;
}

.layout {
    margin-bottom: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

:root {
    --accent: #44B8BA;
    --text-color: #000000;
    --white: #ffffff;
}

.wrapper-hrk {
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth !important;
}

.container-hrk {
    min-height: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 20px !important;
    color: var(--text-color);
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

.container-hrk h1,
.container-hrk h2,
.container-hrk h3,
.container-hrk p {
    margin: 0;
}

.container-hrk button {
    background: transparent;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container-hrk ul,
.container-hrk ol {
    list-style: none;
    padding: 0 !important;
    padding-inline-start: 0px !important;
}

.hrk-title {
    font-size: 36px !important;
    line-height: 44px;
    font-weight: 700;
    color: var(--text-color);
}

.hrk-subtitle {
    font-size: 28px !important;
    line-height: 34px;
    font-weight: 700;
}

.hrk__button,
button.hrk__button {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
    padding: 24px 64px !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-align: center;
    transition: all 0.2s ease !important;
    color: var(--white) !important;
    background: var(--accent);
    border: 1px solid var(--accent);
    cursor: pointer;
}

.hrk__button:hover,
button.hrk__button:hover {
    color: var(--accent) !important;
    background: transparent;
}

.hrk-blue-text {
    color: var(--accent);
}

.margin_32 {
    margin-bottom: 32px !important;
}

.margin_24 {
    margin-bottom: 24px !important;
}

.we-strive-hrk {
    padding-top: 96px;
    padding-bottom: 96px;
}

.we-strive-hrk .hrk-title {
    margin-bottom: 48px;
}

.hrk-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.why-hrk {
    margin-bottom: 96px;
}

.why-hrk__items {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 24px;
}

.why-hrk__item {
    max-width: 32%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: max-content;
    padding: 40px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}

.we-strive-hrk .why-hrk__item-1 {
    background: #1C8C96;
    color: #ffffff;
}

@media (max-width: 1220px) {
    .why-hrk__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .why-hrk__item {
        max-width: none;
        width: auto;
    }
}

.banner_2-hrk {
    position: relative;
    padding: 0 15px;
    color: var(--white);
    background: #1C8C96;
}

.banner_2-hrk__wrapper {
    display: grid;
    grid-template-columns: 80% 1fr;
    align-items: center;
}

.banner_2-hrk__content {
    padding: 96px 0;
    padding-right: 155px;
    color: #ffffff;
}

.banner_2-hrk .hrk-title {
    font-weight: 700;
    font-size: 46px !important;
    line-height: 120% !important;
    text-transform: uppercase;
    color: var(--white);
}

.banner_2-hrk .hrk-subtitle {
    color: var(--white);
}

.banner_2-hrk__img {
    position: absolute;
    inset: 0 0 0 auto;
    object-fit: cover;
    height: 100%;
    width: auto;
    max-width: 30%;
}

@media (max-width: 992px) {

    .banner_2-hrk__wrapper {
        grid-template-columns: 1fr;
    }

    .banner_2-hrk__content {
        padding: 150px 0 40px;
        padding-right: 8px;
    }

    .banner_2-hrk__img {
        max-width: none;
        height: 120px;
        inset: 0 0 auto auto;
    }
}

.partner_banner_2-hrk .banner_2-hrk__wrapper {
    grid-template-columns: 1fr;
    align-items: flex-start;
    padding: 96px 0;
}

.partner_banner_2-hrk .why-hrk__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
}

.partner_banner_2-hrk .why-hrk__item {
    max-width: 100%;
    width: 100%;
    background: #ffffff;
}

.text-block-hrk_2 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.text-block-hrk_2 .row-hrk {
    display: grid;
    grid-template-columns: 1fr 30%;
    align-items: center;
    gap: 6px;
}

.col-hrk__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-block-hrk {
    padding-top: 96px;
}

.contact-us-hrk__block {
    width: max-content;
    display: flex;
    gap: 96px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}

.contact-us-hrk__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-hrk__item .contact-us-hrk__subtitle {
    margin-bottom: 8px !important;
}

.steps-hrk {
    padding-top: 96px;
}

.steps-hrk__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%;
}

.steps-hrk__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    align-self: flex-start;
}

.steps-hrk__item-2 {
    margin-top: 150px;
}

.steps-hrk__arrow {
    position: absolute;
    top: 115%;
    left: 50%;
}

.steps-hrk__item-2 .steps-hrk__arrow {
    top: auto;
    bottom: 115%;
    left: 50%;
}

.steps-hrk__item .hrk-blue-text {
    font-weight: 700;
    font-size: 36px !important;
    line-height: 100% !important;

}

.steps-hrk__subtitle {
    font-weight: 700;
    font-size: 20px !important;
    line-height: 100% !important;
    margin-bottom: 8px !important;
}

.hrk-form {
    color: #ffffff;
}

.form-block-hrk {
    background: #1C8C96;
    margin-bottom: 96px;
}

.form-block-hrk__wrapper {
    padding-top: 96px;
    padding-bottom: 96px;
}

.form-block-hrk .hrk-subtitle {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 16px !important;
}

.hrk-form__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hrk-form__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-block-hrk .hrk-form .hrk-form__inputs>input,
.form-block-hrk .hrk-form select,
.form-block-hrk .hrk-form textarea {
    width: 100%;
    max-width: 350px;
    height: 49px;
    padding: 16px 40px;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.hrk-form__inputs input[type="number"]::-webkit-outer-spin-button,
.hrk-form__inputs input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hrk-form__inputs .input_full {
    width: 100%;
    max-width: none;
    min-width: 540px;
}

.form-block-hrk .hrk-form .hrk-form__inputs>input.input_450 {
    width: 100%;
    max-width: 450px;
}

.form-block-hrk .hrk-form select {
    padding-right: 60px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ffffff url('data:image/svg+xml,<svg width="17" height="7" viewBox="0 0 17 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.50016 6L16 1" stroke="black" stroke-linecap="round"/></svg>') no-repeat;
    background-position: calc(100% - 40px) center;
}

.hrk-download {
    margin-bottom: 96px;
}

.hrk-download__title {
    font-weight: 700;
    font-size: 20px !important;
    line-height: 100%;
}

.hrk-download__list {
    display: flex;
    gap: 96px;
}

.hrk-download__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hrk-download__text {
    color: #00000080;
    font-size: 14px !important;
    line-height: 100%;
}

.hrk-download__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hrk-download__btn:hover svg path {
    stroke: var(--accent);
}

.form-block-hrk .hrk-form .hrk__button {
    width: max-content;
}

@media (max-width:992px) {
    .steps-hrk {
        padding-top: 88px;
    }

    .steps-hrk__wrapper {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .steps-hrk__item-2 {
        margin-top: 0;
    }

    .steps-hrk__arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    .hrk-title {
        font-size: 28px !important;
        line-height: 34px;
    }

    .hrk-subtitle {
        font-size: 24px !important;
        line-height: 29px;
    }

    .hrk__button {
        font-size: 14px !important;
    }

    .hrk-list li::before {
        width: 13px;
        height: 12px;
    }

    .text-block-hrk {
        padding-top: 48px;
        padding-bottom: 88px;
    }

    .hrk-text {
        gap: 16px;
    }

    .banner_2-hrk .hrk-title {
        font-size: 32px !important;
    }

    .why-hrk {
        margin-bottom: 88px;
    }

    .text-block-hrk_2 .row-hrk {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .contact-us-hrk__block {
        width: 100%;
        flex-direction: column;
        gap: 16px;
        padding: 0;
        background: transparent;
    }

    .contact-us-hrk__item {
        padding: 40px;
        background: rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }

    .contacts-list-hrk {
        margin-bottom: 88px;
    }

    .form-block-hrk {
        margin-bottom: 88px;
    }

    .form-block-hrk__wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .form-block-hrk .hrk-form {
        gap: 32px;
        width: 100%;
    }

    .hrk-form__inputs {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .form-block-hrk .hrk-form .hrk-form__inputs>input,
    .form-block-hrk .hrk-form select,
    .form-block-hrk .hrk-form textarea {
        max-width: 100%;
        min-width: auto;
        font-size: 12px !important;
        padding: 16px 32px;
    }

    .form-block-hrk .hrk-form .hrk-form__inputs>input[name="company_name"] {
        height: 55px;
    }

    .form-block-hrk .hrk-form .hrk-form__inputs>input[name="company_name"]::-webkit-input-placeholder {
        white-space: inherit;
        top: -7px;
        position: relative;
    }

    .form-block-hrk .hrk-form .hrk__button {
        align-self: center;
    }

    .hrk-rules__wrapper {
        padding-bottom: 88px;
        gap: 24px;
    }

    .upload-content {
        margin: 0 auto;
    }

    .hrk-download__title {
        font-size: 24px !important;
    }

    .hrk-download__list {
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .hrk-download__item {
        gap: 24px;
    }
}


/*popup start */

.hrk-popup-thanks {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity 200ms ease-in;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hrk-popup-thanks.active {
    display: block;
}

.hrk-popup-dialog {
    position: relative;
    width: 640px;
    min-height: 100vh;
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrk-popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 96px 40px;
    outline: 0;
    border-radius: 20px;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
}

.hrk-popup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    flex: 1 1 auto;
}

.hrk-popup-thanks .hrk-popup-body {
    text-align: center;
}

.hrk-popup-thanks .hrk-popup-body p {
    margin: 24px auto 48px !important;
}


.hrk-popup__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hrk-popup-thanks .hrk-subtitle {
    margin: 16px 0 0 !important;
    text-transform: none;
}

.hrk-popup__form-block {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 10px 35px;
}

.hrk-form {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
}

.hrk-popup p {
    margin: 0;
}

.hrk-form-error,
.hrk-form-success {
    display: none;
}

@media (max-width: 768px) {

    .hrk-popup.active {
        overflow-y: auto;
    }

    .hrk-popup-dialog {
        width: calc(100% - 30px);
        min-height: 100%;
        height: auto;
        padding: 0;
    }

    .language-popup-dialog {
        width: calc(100% - 30px);
        min-height: 100%;
        height: auto;
    }

    .hrk-popup-thanks .hrk-popup__close-thanks,
    .hrk-popup__close {
        margin-right: -25px;
    }

    .hrk-popup-content {
        padding: 10px 35px 40px;
    }

    .hrk-popup h2,
    .hrk-popup-thanks h2 {
        font-size: 22px;
    }

    .hrk-popup__form-block {
        padding: 10px 0;
    }

    .hrk-popup-thanks .hrk-popup-body p {
        margin: 10px auto !important;
    }

}

/*popup end*/